.container {
    & ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & li {
            background-color: #EDEDED;
            display: flex;
            padding: 8px;
            gap: 16px;
            border-radius: 8px;
            
            & .li-image {
                background-color: #FFF;
                border-radius: 8px;
                padding: 8px;

                & img {
                    width: 128px;
                    height: 160px;
                    margin: 16px;
                }
            }

            & .li-details {
                max-width: 720px;
                display: flex;
                flex-direction: column;
                background-color: #FFF;
                border-radius: 8px;
                padding: 8px;
                gap: 8px;

                & .tag-card {
                    width: 16%;
                    background-color: #009656;
                    color: #FFFFFF;
                    font-size: 12px;
                    padding: 4px;
                    border-radius: 4px;
                }

                & .city {
                    font-weight: 600;
                }
            }

            & .li-offer {
                max-width: 260px;
                background-color: #FFF;
                border-radius: 8px;
                padding: 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                & .li-offer-title {
                    text-align: center;
                    
                    & h4 {
                        font-size: 16px;
                    }
                }

                & .li-offer-user,
                & .li-offer-value {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    & h4 {
                        font-size: 12px;
                    }

                    & span {
                        font-weight: 400;
                        font-size: 12px;
                        color: #967C78;
                    }
                }

                & .li-offer-msg {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & span {
                        font-weight: 400;
                        font-size: 12px;
                        color: #967C78;
                    }
                    
                }

                & .li-offer-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;

                    & button {
                        background-color: #009656;
                        color: #FFFFFF;
                        cursor: pointer;
                        font-weight: 500;
                        border: none;
                        padding: 8px 16px;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}